<div class="company-box">
	<%= link_to (image_tag company.image(:medium)), company %>
	<h4><%= company.name %></h4>

	<!-- Description is placed in javascipt so Google doesn't index the content -->
	<p id="element<%=company.id%>"></p>
	<script type="text/javascript">
		var content = "<%= company.description %>";
		document.getElementById("element<%=company.id%>").innerHTML=content;
	</script>
<p>
	<%= link_to 'Edit', edit_company_path(company) %>
	<% if company.user == current_user %>
		|
		<%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %>
	<% end %>
</p>
</div>
