<%= simple_form_for(@company, html: {class: 'form-horizontal'}) do |f| %>
  <%= f.error_notification %>
  <%= f.full_error :image_file_size, class: "alert alert-error" %>
	
	<%= f.input :name %>
	<%= f.input :image, label: "Company logo" %>

  <div class="form-actions">
    <%= f.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
