<p id="notice"><%= notice %></p>
<div class="row top-container">
	<div class="span8">
		<div class="top-left-content">
			<h1><%= @company.name %></h1>
			 <!-- Description is placed in javascipt so Google doesn't index the content -->
      <p id="element<%=@company.id%>"></p>
      <script type="text/javascript">
        var content = "<%= @company.description %>";
        document.getElementById("element<%=@company.id%>").innerHTML=content;
      </script>
      <p><%= @company.url %></p>
		</div>
	</div>
	<div class="span4">
		<%= image_tag @company.image(:medium) %>  
	</div>
</div>
<div class="row main-content">
  <div class="span2 sidebar">
  	<div class="sidebar-box selected">
  	  <h5>Opportunities</h5>
  		<h5>Threats</h5>
  	</div>
  	<div class="sidebar-box">
  		<h5>Competitors</h5>
  	</div>
  </div>
  <div class="span5">
  	<div class="right-border">
  		<h3>Opportunities</h3>
			<table class="table table-condensed">
				<%= render @opportunities %>
			</table>
			<div class="inline-form">
				<%= render 'opportunities/form' %>
			</div>
  	</div>
  </div>
  <div class="span5">
  	<h3>Threats</h3>
  </div>
</div>
